* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

.header,
.footer {
  background-color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
}

.signup-section {
    background-color: #3882f6;
}